
.section-category-form {
    padding: 15px 0;
}

.container-category {
    width: 92%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.category-header {
    display: flex;
    justify-content: space-between;
}

.category-title {
    font-size: 15px;
    margin-bottom: 12px;
    color: var(--color-secondary);
}

.category-subtitle {
    color: var(--color-secondary);
    font-size: 13px;
    margin-top: 1px;
    cursor: context-menu;
}

.category {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}


.category__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    overflow: hidden;
}

.category__circle {
    width: 50px;
    aspect-ratio: 1;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 7px 1px rgb(232, 232, 232);
    cursor: pointer;
}

.category__circle > img {
    filter: invert(1);
}

.category__circle > i {
    color: #283148a7;
    font-size: 1.1rem;
}

.category__title {
    font-size: .6rem;
    font-weight: 500;
    color: var(--color-secondary);
}


.bg-active-category {
    background-color: var(--color-primary);
}

.bg-active-category > i {
    color: rgb(241, 239, 239);
}

.bg-active-category > img {
    filter: invert(0);
}

.active-category {
    color: var(--color-primary);
}








.container-form {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    display: none;
}

.container-form > form {
    display: flex;
    width: max-content;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(237, 237, 237, 0.989);
    padding: 5px 5px 5px 11px;
    background-color: #fff;
}

.form__input {
    width: 200px;
    font-size: .9rem;
    border: transparent;
    background: transparent;
}

.form__btn {
    padding: 3px 6px;
    border: none;
    background: transparent;
    color: var(--color-primary);
    font-size: 14px;
    cursor: pointer;
}

.form__btn:hover .form__btn_i {
   text-shadow: 0px 0px 1.3px #ff3e3e;
}



.product-null {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    padding: 75px 0 92px 0;
    
}

.product-null-span {
    color: #173D7B;
    font-weight: 500;
    cursor: pointer;
}



@media (min-width: 550px){

    .category-title {
        font-size: 1rem;
    }

    .category-subtitle {
        font-size: 14px;
        margin-right: 10px;
    }

    .category__circle {
        width: 55px;
    }

    .category__circle i {
        font-size: 1.2rem;
    }
    .category__title {
        font-size: 11px;
    }

    .container-form > form {
        padding: 5px 8px 5px 12px;
    }
    
    .form__input {
        width: 260px;
    }

    .product-null {
        width: 60%;      
    }

}

@media (min-width: 610px){

    .category-subtitle {
        margin-right: 20px;
    }
}

@media (min-width: 768px){

    .section-category-form {
        width: 98%;
        margin: 0 auto;
    }

    .category-subtitle {
        font-size: 15px;
        margin-right: 25px;
    }

}





@media (min-width: 992px){

    .category-title {
        margin-bottom: 1rem;
    }

    .category-subtitle {
        font-size: 14px;
    }

    .section-category-form {
        display: flex;
        width: 84%;
    }

    .container-category {
        width: 60%;
    }

    .category__circle {
        width: 65px;
    }
    .category__circle > i {
        font-size: 1.4rem;
    }

    .category__title {
        font-size: .8rem;
    }


    .container-form {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
        gap: 10px;
        padding-right: 10px;
    }

    .form-title {
        display: block;
        margin-bottom: 1rem;
        font-size: 1rem;
        color: var(--color-secondary);
    }

    .form__input {
        width: 250px;
    }

    .form__btn {
        font-size: 1rem;
    }

}

@media (min-width: 1200px) {

    .section-category-form {
        width: 80%;
        padding: 15px 0 20px 0;
    }

    .category-title, .form-title {
        font-size: 1.1rem;
        margin-bottom: 1.1rem;
    }

    .category-subtitle {
        font-size: 15px;
        margin-right: 20px;
        margin-top: 4px;
        font-weight: 500;
    }

    .category__card {
        gap: 8px;
    }

    .category__circle {
        box-shadow: 0px 0px 15px 3px rgba(234, 234, 234, 0.99);
    }

    .category__circle > i {
        font-size: 1.5rem;
    }

    .category__title {
        font-size: .9rem;
        font-weight: 600;
    }

    .container-form {
        gap: 15px;
    }

    .container-form > form {
        padding: 7px 10px 7px 13px;
        box-shadow: 0px 0px 13px 3px rgba(234, 234, 234, 0.99);
    }

    .form__input {
        width: 285px;
        font-size: 1rem;
        font-weight: 500;
    }

}

@media (min-width: 1400px) {


    .form__input {
        width: 310px;
    }

}


@media (min-width: 1500px) {

    .category-subtitle {
        font-size: 1.07rem;
        margin-right: 45px;
        margin-top: 4px;
    }

    .container-form {
        gap: 20px;
    }

    .container-form > form {
        padding: 8px 10px 8px 15px;
    }

    .form__input {
        width: 360px;
    }


}